.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Custom BG Div for header(s) =3
 */

.bgdiv {
  background: url(../img/server-thing.png) no-repeat center center fixed;
  background-size:contain;
  background-size:cover;
  color:#fff !important
}

.ncbg {
  background: url(../img/phoenixcloudsc.png) no-repeat top center;
  background-size:contain;
  background-size:cover;
}

.pcbg {
  background: url(../img/phoenixcraftsc.png) no-repeat center center;
  background-size:contain;
  background-size:cover;
}

.pncdnbg {
  background: url(img/phoenixnetcdn.png) no-repeat top center;
  background-size:contain;
  background-size:cover;
}

.nginxbg {
  background: url(../img/nginxsc.png) no-repeat top center;
  background-size:contain;
  background-size:cover;
}

.vcenterbg {
  background: url(../img/vcentersc.png) no-repeat top center;
  background-size:contain;
  background-size:cover;
}

.activedirectorybg {
  background: url(../img/activedirectorysc.png) no-repeat top center;
  background-size:contain;
  background-size:cover;
}

.unifibg {
  background: url(../img/unifisc.png) no-repeat top center;
  background-size:contain;
  background-size:cover;
}

.serverpic {
  background: url(../img/serverpic.jpg) no-repeat top center;
  background-size:contain;
  background-size:cover;
}

.bg-primary {
  background-color:#33416a !important;
}

.bandanablue {
  color:#33416a !important;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

::-webkit-scrollbar {
  display: none;
}

.img-wrapper::after {
  font-size: 12px;
  content: 'Click Image To View Full Size';
  display: block;
}